@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Sevillana';
    src: url('/fonts/Sevillana/Sevillana-Regular.ttf');
  }

  body {
    @apply font-poppins text-base overflow-x-hidden;
    margin: 0;
  }
}

.custom-bg-home {
    background-image : url('./images/bg-home-photo.png');
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center center;
    background-attachment : fixed;
    height: 100vh;
  }

  .custom-bg-admin {
    background-image : url('./images/bg-admin.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center center;
    background-attachment : fixed;
    height: 100vh;
  }

  .custom-bg-banner {
    background-image : url('./images/bg-banner.png');
    background-repeat : no-repeat;
    background-size : cover;
    background-position : top top;
    background-attachment : fixed;
    height: 12vh;
    width : 20vw;
  }

  .custom-menubar {
    background-color: transparent !important;
    border : none !important;
  }
  
  .custom-menubar .p-menubar {
  background-color: transparent !important;
  }
  
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color : black !important;
  }
  
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text:hover {
    background-color : transparent !important;
  }
  
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content:hover {
    background-color : transparent !important;
    text-decoration : underline 2px black !important;
    text-underline-offset : 12px;
  }