@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
  }

  @font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit/Kanit-Regular.ttf');
  }

  @font-face {
    font-family: 'Satisfy';
    src: url('/fonts/Satisfy/Satisfy-Regular.ttf');
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply font-poppins;
  @apply text-xs;
  margin : 0;
}

.custom-p-dropdown .p-dropdown-label {
  @apply text-xs;
  @apply font-poppins;
  @apply text-white;
}

.custom-p-dropdown2 .p-dropdown-label {
  @apply text-xs;
  @apply font-poppins;
  @apply mt-1;
}
 
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  @apply text-white;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  background : transparent ! important;
  @apply text-white;
}

  .custom-menubar {
    background-color: transparent !important;
    border : none !important;
  }
  
  .custom-menubar .p-menubar {
  background-color: transparent !important;
  }
  
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color : black !important;
  }
  
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text:hover {
    background-color : transparent !important;
  }
  
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content:hover {
    background-color : transparent !important;
    text-decoration : underline 2px black !important;
    text-underline-offset : 12px;
  }

.triple-border-container {
  position: relative;
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
}

.triple-border-container::before {
  content: '';
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-left-color: #A54E2B;
  border-top-color: #2DD4BF;
  border-right-color: #FFF;
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.banner-slide.active {
  opacity: 1;
}

@keyframes waterTrembling {
  0% {
    transform: scale(1.05) translate(0, 0);
  }
  25% {
    transform: scale(1.05) translate(5px, 5px);
  }
  50% {
    transform: scale(1.05) translate(-5px, -5px);
  }
  75% {
    transform: scale(1.05) translate(-5px, 5px);
  }
  100% {
    transform: scale(1.05) translate(0, 0);
  }
}

.water-trembling {
  animation: waterTrembling 10s ease-in-out infinite;
}